<!-- footer of the page -->
{%load static%}
<footer id="footer">
    <div class="max-container">
        <div class="f1">
            <div class="holder">
                <strong class="logo-footer">
                    <a href="#">
                        <i class="icon"><img src="{% static 'images/phytoiconfooter.svg' %}" alt=""></i>
                        <span class="img">
                            <img src="{% static 'images/PhytoScanfooter.svg' %}">
                        </span>
                    </a>
                </strong>
                <div class="footer-txt">
                    <div class="text">
                        <p>PhytoScan is the image-based disease prediction system that identify crop diseases from uploaded images. By replacing manual inspections with image analysis.</p>
                        <div class="contact">
                            <address><span class="yellow">A :</span> Mohammadpur,Dhaka 17/15 , <br>Bangladesh</address>
                            <span class="email"><span class="yellow">E: </span><a href="mailto:">phytoscan@gmail.com</a></span>
                            <span class="tel"><span class="yellow">P: </span><a href="tel:+8801400776768">+8801400776768</a></span>
                        </div>
                    </div>
                    <ul class="testimonial">
                        <li>
                            <p><a href="#"><i class="icon-quote-left"></i><span>Future Plan</span></a>
                                Discover the future of precision agriculture with PhytoScan. Currently predicting diseases like Brown Spot and Common Rust for crops like rice, corn, and potatoes, we're expanding to cover more crops, additional diseases, and diverse regions. Stay tuned for a comprehensive platform that empowers farmers with accurate insights and promotes sustainable farming practices. Thrive with us as we cultivate a smarter, healthier future for agriculture.</p>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="frame">
                <div class="wpcf7">
                        <img src="{% static 'images/phytofooter.svg' %}" alt="image description">
                </div>
            </div>
        </div>
        <div class="f2">
            <ul class="sub-nav">         
                <span class="copyright">Copyright <a href="#">#CAPSTONE GROUP</a> &copy; 2024. All rights reserved.</span>
            </ul>
            
        </div>
    </div>
</footer>