{%load static%}
{% include 'header.html' %} 
		<main id="main">
			<div class="visual">
				<div class="max-container">
					<div class="slideshow" id="main-slider">
						<div class="slide">
							<div class="caption">
								<div class="text">
									<span class="txt">FIND DISEASE of</span>
									<h1><span class="icon">#</span><span class="light">rice</span> <span class="add">growth</span> <span class="add2">farming</span></h1>
								</div>
							</div>
							<div class="image">
								
								<img src="{% static 'images/rice.jpg' %}" alt="image description">
							</div>
							<span class="box"></span>
						</div>
						<div class="slide">
							<div class="caption">
								<div class="text">
									<span class="txt">FIND DISEASE of</span>
									<h1><span class="icon">#</span><span class="light">potato</span> <span class="add">growth</span> <span class="add2">farming</span></h1>
								</div>
							</div>
							<div class="image">
								<img src="{% static 'images/potato.jpg' %}" alt="image description">
							</div>
							<span class="box"></span>				
						</div>
						<div class="slide">
							<div class="caption">
								<div class="text">
									<span class="txt">FIND DISEASE of</span>
									<h1><span class="icon">#</span><span class="light">corn</span> <span class="add">growth</span> <span class="add2">farming</span></h1>
								</div>
							</div>
							<div class="image">
								<img src="{% static 'images/corn.jpg' %}" alt="image description">
							</div>
							<span class="box"></span>
						
						</div>
					</div>
				</div>
			</div>
			<div class="max-container">
				<div class="info-holder">
					<div id="about" class="info">
						<div class="img-frame wow fadeInLeft" data-wow-delay="0.6s">
							<div class="text">
								<span class="num">01</span>
								<h2 class="tild">WELCOME</h2>
								<div class="box">
									<div class="box-inner">
										<h3>PhytoCare</h3>
										<p>Infromation</p>
									</div>
								</div>
							</div>
							<div class="image wow fadeInRight" data-wow-delay="0.6s"><img src="{% static 'images/phyto.jpg' %}" alt="image description"></div>
						</div>
						<div class="txt-frame wow fadeInUp" data-wow-delay="0.6s">
							<h3>About</h3>
							<p>Welcome to our Crop Disease Detection App, leveraging advanced machine learning for swift identification of six key crop diseases: Rice Brown Spot, Corn Common Rust, Rice Healthy, Corn Healthy, Potato Late Blight, and Potato Healthy. Designed with simplicity in mind, this user-friendly app empowers farmers to capture and analyze crop images instantly. Stay ahead with timely insights for healthier yields. We're committed to growth, with plans to include more crops and diseases in the future. Download now and redefine your approach to precision farming.</p>
							<div class="signature">
								<img src="{% static 'images/phytoscan.svg' %}" alt="signature">
							</div>
						</div>
					</div>
						<div class="img-frame">
							<div class="image wow fadeInRight" data-wow-delay="0.6s"><a>
								<img src="{% static 'images/rice-3.jpg' %}" alt="image description" class="team1-img">
							</a></div>
							<div class="text wow fadeInRight" data-wow-delay="0.3s">
								<h2 class="tild">HOW TO USE</h2>
								<span class="num">02</span>
								<a class="more">GUIDELINES</a>
							</div>
						</div>
					</div>
						<div class="img-frame wow fadeInRight" data-wow-delay="0.6s">
							<h2 style="padding-left: 20%;" class="tild">     DISEASE</h2>
							<span class="num">04</span>
							<a class="more">Disease List</a>
						</div>
					</div>
{% include 'footer.html' %} 							
				
		