{% include 'header.html' %} 
{%load static%}
<form method="post" enctype="multipart/form-data" action="{% url 'predict_crop_disease' %}">
    {% csrf_token %}
	<div id="wrapper">
		<div class="promo Disease">
			<div class="max-container">
				<div class="">
					<img src="{% static 'images/upload.jpg' %}" alt="image description">
				</div>
				<div class="holder">
					<div class="frame">
						<div class="box">
							<div class="heading">
								<h1>disease prediction</h1>
								<h2>choose an image</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<main id="main" role="main">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">


						
						<div class="gallery">
								<div class="img" id="imagePreviewContainer" style="display: none;">
									<div><img class="img" id="imagePreview" src=""  >
									</div>
									</div>
							  <div class="img" id="imagePreview"></div>

							<div class="text">
								<h2>Instruction</h2>
								<p>To Use Our Disease Prediction System, Simply upload an 
									image of your corn, rice, or potato crop.
									To ensure accurate disease predictions, follow these steps when 
									uploading a crop image.Take the photo in good lighting 
									conditions to capture clear details of the crop, Place the crop against a plain 
									background to minimize distractions and enhance image clarity, Include the entire
									affected area in the frame, ensure focus and sharpness,
									Minimize motion blur by keeping the camera steady during the capture process.
								</p>
							
							</div>
							<div>
								<label style=" height: 35px; width: 200px; background: #d4d4d4;  align-items: center;   justify-content: space-between;   border-radius: 5px;   display: flex; padding-left: 20px;">+Add Image
								<input style="display: none;" type="file" name="image" accept="image/*" required onchange="previewImage(event)">
								<button type="submit"class="btn btn-success">Predict</button>
							    </label>
								
							</div>
							

							
							
							
						</div>

						<div class="masonry-holder">
							<h2><br>Related plant</h2>
							<ul class="masonry add">
								<li>
									<div class="holder">
										<div class="img"> 
											<img src="{% static 'images/rice 2.jpg' %}" alt="image description">
										</div>
										<div class="caption">
											<div class="c1">
												<div class="c2">
													<strong class="title">rice</strong>												
												</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="holder">
										<div class="img">
											<img src="{% static 'images/potato 2.jpg' %}"  alt="image description">
										</div>		
										<div class="caption">
											<div class="c1">
												<div class="c2">
													<strong class="title">potato</strong>												
												</div>
											</div>
										</div>							
									</div>
								</li>
								<li>
									<div class="holder">
										<div class="img">
											<img src="{% static 'images/corn 2.jpg' %}"  alt="image description">
										</div>
										<div class="caption">
											<div class="c1">
												<div class="c2">
													<strong class="title">corn</strong>												
												</div>
											</div>
										</div>
									
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script>
			function previewImage(event) {
				const input = event.target;
				const previewContainer = document.getElementById('imagePreviewContainer');
				const preview = document.getElementById('imagePreview');
				
				if (input.files && input.files[0]) {
					const reader = new FileReader();
					
					reader.onload = function (e) {
						preview.src = e.target.result;
						previewContainer.style.display = 'block';
					};
					
					reader.readAsDataURL(input.files[0]);
				} else {
					preview.src = '';
					previewContainer.style.display = 'none'; 
				}
			}
		</script>
	</form>
		{% include 'footer.html' %} 